:root{
  --primary-link-color:#2196F3;
  --second-link-color:#757575;
  --foncolor:#2F303A;
  --accent-color:#FFFFFF;
}
.body{
  font-family:'Roboto', sans-serif;
  font-weight: 700;
  color: #212121;
}
.logo{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.link{
  text-decoration: none;
}
.list{
  list-style: none;
}
.btn{
  font-family: 'Roboto'sans-serif;
  cursor: pointer;
  color: #212121;
}

.btn:hover,
.btn:focus{
  color: var(--accent-color);
 background-color: var(--primary-link-color);
}

/*------HEADER------ */

.header {
  background-color: #ECECEC;
}
.firstpartlogo {
color: var(--primary-link-color);
}

.secondtpartlogo {
color: #000000;
}
.list{
  list-style: none;
}
.header-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.link-curreent{
  color: var(--primary-link-color);
}
.header-link:hover,
.header-link:focus{
  color: var(--primary-link-color);
}
.header-tel-mail{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575
}
.header-tel-mail:hover,
.header-tel-mail:focus{
  color: var(--primary-link-color)
}

/*------HERO------ */
.hero {
background-color: var(--foncolor);
}
.title{
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--accent-color);
}
.hero-btn{
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}

/*------FEATURE------ */

.feature{
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
;
}
.feature-text{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--second-link-color);
}

/*------DEVELOPMENT------ */

.development{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}

/*------TEAM------ */

.member-team {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

}
.job-title {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--second-link-color);
}

/* --------------------------- OUR WORKS------------------------- */

.btn-work{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
}
.work-title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}
.work-text{
font-weight: 400;
font-size: 16px;
line-height: 1.89;
letter-spacing: 0.03em;
color: var(--second-link-color);
}

/*------FOOTER------ */

.footer{
  background-color:var(--foncolor);
}
.firstpartlogofooter {
  color: var(--primary-link-color);
  }
  .secondtpartlogofooter {
  color: var(--accent-color);
  }
  .contactfooter{
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--accent-color);
  }

